body {
    background-color: #f5f5f5;
    font-family: "Times New Roman", serif;
}

.story-text {
    font-size: 14px;
    line-height: 1.4;
    color: black;
}

.page-container {
    width: 500px;
    margin: 30px auto;
    background-color: #ffffff;
    border: 1px solid #aaa;
    padding: 15px;
}

.book-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.book-image {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.4;
    color: #000;
}

.highlight-yellow {
    background-color: yellow;
}

.highlight-red {
    color: red;
    font-weight: bold;
}

.back-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.underline {
    text-decoration: underline;
}
